@import "tailwindcss";

@theme {
  --color-yellow: #fed141;
  --color-gray-900: #1e1e1e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-1200: #3e3e3e;
  --text-md: 15px;
}

@layer utilities {
  /* Nav Link Styles */

  .nav-link {
    @apply text-white no-underline font-semibold text-lg mx-2 flex justify-center items-center p-5 border-gray-1200;
  }

  .nav-hover-link:hover {
    @apply text-gray-300 transition cursor-pointer duration-300 bg-gray-900 border-r-[1px] border-l-[1px];
  }
  .nav-hover-link:hover .nav-link {
    @apply border-gray-300;
  }

  /* Ham Burger Menu Styles */

  .burger-menu {
    @apply lg:hidden hover:cursor-pointer;
  }

  .mobile-menu-tabs {
    @apply fixed top-0 right-0 h-[100vh] w-[100vw] sm:w-[60vw] md:w-[40vw] shadow-lg lg:hidden flex flex-col bg-gray-900 transform translate-x-full;
  }

  .mobile-menu-item-class {
    @apply border-b-2 border-gray-1200 py-2 hover:border-gray-300 transition duration-300 hover:cursor-pointer;
  }

  .mobile-menu-heading {
    @apply text-white font-bold text-xl border-b-4 border-gray-1200 pb-2 mb-4 mt-5 p-3;
  }

  .mobile-menu-item {
    @apply text-white no-underline font-semibold text-lg mx-2 mb-2 flex justify-start items-center hover:text-yellow px-3 border-gray-1200;
  }

  /* Button Special Classes */

  .button-special {
    @apply bg-gray-900 px-7 py-2 text-white relative overflow-hidden;
  }

  .button-special:hover {
    @apply cursor-pointer;
  }

  .button-special:active {
    @apply scale-95 transition-all duration-100;
  }

  .button-special::before {
    content: "";
    @apply w-[1px] h-[80%] bg-yellow absolute left-2 top-0 rounded-full;
  }

  .button-special:hover::before {
    @apply h-[40%] transition-all duration-300;
  }

  .button-special::after {
    content: "";
    @apply w-[1px] h-[80%] bg-yellow absolute right-2 bottom-0 rounded-full;
  }

  .button-special:hover::after {
    @apply h-[40%] transition-all duration-300;
  }

  /* Mega Menu Classes */

  .mega-menu {
    @apply absolute z-100 flex flex-row justify-end bg-gray-900 w-full left-0 top-full shadow-lg border-t-4 border-gray-1200;
  }

  .inside-mega-menu {
    @apply w-fit h-fit absolute left-10 top-10 grid grid-cols-5 gap-12 text-white text-md z-100 bg-black/40 p-5;
  }

  .menu-line {
    @apply flex flex-col gap-4 text-sm text-white font-semibold border-r-[1px] border-gray-1200 pr-4;
  }

  .menu-item-right {
    @apply flex gap-3 justify-start items-center;
  }

  .menu-icon {
    @apply w-7;
  }

  .menu-heading {
    @apply text-md font-bold border-b-[3px] border-gray-1200 pb-2;
  }

  .menu-item {
    @apply hover:text-yellow transition cursor-pointer;
  }

  /* Product Range Styles */
  .product-range {
    @apply text-white bg-gray-900 px-6 pt-6 w-full shadow-lg hover:shadow-xl transition-shadow duration-300 h-full flex flex-col justify-between items-center;
  }

  .products-flex {
    @apply mt-10 flex flex-wrap justify-center items-center;
  }

  .product-item {
    @apply mt-6 w-80 h-100 text-center text-2xl font-bold border-r-2 border-gray-1200 hover:scale-102 hover:cursor-pointer transition-transform duration-300;
  }

  .product-details-menu {
    @apply h-full absolute hidden bottom-0 left-0 bg-gray-900;
  }

  .special-gradient {
    background: radial-gradient(
      120% 90% at 55% 45%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(30, 30, 30, 0.7) 35%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  /* Product Page Styles */
  .hero-section {
    @apply h-[90vh] w-full relative flex justify-center items-center text-white font-bold;
  }


  .hero-specs-items{
    @apply w-fit text-xl md:text-2xl lg:text-3xl font-bold border-2 border-yellow px-2 py-1 md:px-4 md:py-2 rounded-md;
  }

  .custom-list {
    list-style: none; /* Remove default bullets */
    padding: 0;
  }

  .custom-listLi {
    background: url("/list.svg") no-repeat left center;
    background-size: 20px 20px; /* Adjust image size */
    padding-left: 30px; /* Space for the icon */
    margin-bottom: 8px;
  }
}
