@import "tailwindcss";

@theme {
  --color-yellow: #fed141;
  --color-gray-900: #1e1e1e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-1200: #3e3e3e;

  --text-md: 15px;
}

@layer utilities {
  /* Nav Link Styles */

  .nav-link {
    @apply text-white no-underline font-semibold text-lg mx-2 flex justify-center items-center p-5 border-gray-1200;
  }

  .nav-hover-link:hover {
    @apply text-gray-300 transition duration-300 bg-gray-900 border-r-[1px] border-l-[1px];
  }
  .nav-hover-link:hover .nav-link {
    @apply border-gray-300;
  }

  /* Button Special Classes */

  .button-special {
    @apply bg-gray-900 px-7 py-2 text-white  relative overflow-hidden;
  }

  .button-special:hover {
    @apply cursor-pointer;
  }

  .button-special:active {
    @apply scale-95 transition-all duration-100;
  }

  .button-special::before {
    content: "";
    @apply w-[1px] h-[80%] bg-yellow absolute left-2 top-0 rounded-full;
  }

  .button-special:hover::before {
    @apply h-[40%] transition-all duration-300;
  }

  .button-special::after {
    content: "";
    @apply w-[1px] h-[80%] bg-yellow absolute right-2 bottom-0 rounded-full;
  }

  .button-special:hover::after {
    @apply h-[40%] transition-all duration-300;
  }

  /* Mega Menu Classes */

  .mega-menu {
    @apply absolute z-100 flex flex-row justify-end bg-gray-900 w-full left-0 top-full shadow-lg border-t-4 border-gray-1200;
  }

  .inside-mega-menu {
    @apply w-fit h-fit absolute left-10 top-10 grid grid-cols-5 gap-12 text-white text-md z-100 bg-black/40 p-5;
  }

  .menu-line {
    @apply flex flex-col gap-4 text-sm text-white font-semibold border-r-[1px] border-gray-1200 pr-4;
  }

  .menu-item-right {
    @apply flex gap-3 justify-start items-center;
  }

  .menu-icon {
    @apply w-7;
  }

  .menu-heading {
    @apply text-md font-bold border-b-[3px] border-gray-1200 pb-2;
  }

  /* Product Range Styles */
  .product-range {
    @apply text-white bg-gray-900 px-6 pt-6 w-full shadow-lg hover:shadow-xl transition-shadow duration-300 h-full flex flex-col justify-between items-center;
  }

  .products-flex {
    @apply mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-items-center;
  }

  .product-item {
    @apply mt-6 w-80 h-100 text-center text-2xl font-bold border-r-2 border-gray-1200;
  }
}
